.toy-list {
    display: flex;
    justify-content: center;
}

.toy-list ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    min-height: 445px;
    margin-block: 0 0.5em;
    list-style: none;
    padding: 0;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 250px;
    margin: 0.5em;
    padding: 1em;
    background-color: var(--gray1);
    border-radius: 4px;
    box-shadow: #00000026 1.95px 1.95px 2.6px;
}