/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';
@import 'setup/animations.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* Components */

@import 'cmps/AppHeader.css';
@import 'cmps/ToyIndex.css';
@import 'cmps/ToyList.css';
@import 'cmps/ToyPreview.css';
@import 'cmps/ToyFilter.css';
@import 'cmps/ToyEdit.css';
